<html>
  <head>
    <title>webstore</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <!-- TODO: rel='alternate' links -->
  </head>
  <body>
    <h1>Welcome to webstore</h1>
    <p>
      Thank you for visiting the webstore, a RESTful API for 
      tabular data. While there is no web user interface 
      included in the webstore, check out the documentation:
    </p>
    <ul>
      <li><a href="http://webstore.readthedocs.org">API 
        Documentation</a></li>
      <li><a href="http://pypi.python.org/pypi/webstore-client">Python
        Client Library</a></li>
    </ul>
    <p>
      In order to use the store, you'll have to have a user 
      account on the associated authentication system.
    </p>
    <hr />
    <p>
      &copy; 2011: Open Knowledge Foundation. 
    </p>
    <a href="http://github.com/okfn/webstore"><img style="position: fixed; top: 0; right: 0; border: 0;"
       src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a> 
  </body>
</html>

