<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <!-- TODO: rel='alternate' links -->
  </head>
  <body>
    <table border="1">
      <thead>
        <tr>
          {% for k in keys %}
            <th>{{ k }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
          <tr>
            {% for k in keys %}
              {% if row.get(k) == None %}
                <td></td>
              {% else %}
                <td>{{ row.get(k, '') }}</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
